<template>
    <main class="articles">
      <header>
        <h1>Articles</h1>
        <button data-target="#storeArticle" data-toggle="modal" type="button" class="btn btn-primary add-article">Add article</button>
        <hr>
      </header>
        <div>



          <nav class="pagination" style="float: left;">
            <li v-bind:class="[{disabled: !pagination.prev_page_url}]" class="page-item">
              <a class="page-link" href="#" @click="getArticles(pagination.prev_page_url)">Previous</a></li>
            <li class="page-item disabled">
              <a class="page-link text-dark" href="#">Page {{pagination.current_page}} of {{pagination.last_page}}</a>
            </li>
            <li v-bind:class="[{disabled: !pagination.next_page_url}]" class="page-item">
              <a class="page-link" href="#" @click="getArticles(pagination.next_page_url)">Next</a></li>
          </nav>




          <span class="total">Total: {{ pagination.total }} articles</span>
          <div style="float: right;">
            <div>
              <button v-if="ordering.orderBy == 'created_at'" @click="ordering.orderBy = 'title'; getArticles();" class="btn btn-primary" type="submit">By date</button>
              <button v-if="ordering.orderBy == 'title'" @click="ordering.orderBy = 'created_at'; getArticles();" class="btn btn-primary" type="submit">By title</button>
              <button v-if="ordering.order == 'desc'" @click="ordering.order = 'asc'; getArticles();" class="btn btn-primary" type="submit">DESC</button>
              <button v-if="ordering.order == 'asc'" @click="ordering.order = 'desc'; getArticles();" class="btn btn-primary" type="submit">ASC</button>
            </div>
          </div>
        </div>


        <article v-for="article in articles" v-bind:key="article.id">
            <h3>{{ article.title }}</h3>
            <span>{{ article.created_at | moment("DD.MM.YYYY") }}</span>
            <h4>Categories:</h4>
            <ul>
              <li v-for="category in article.categories" v-bind:key="category.id">
                <a href="#">{{category.title}}</a>
              </li>
            </ul>
            <p>
                {{ article.content }}
            </p>
            <button @click="deleteArticle(article.id)" class="btn btn-danger">Delete</button>
        </article>


        <!-- Modal -->
        <div class="modal fade" id="storeArticle" tabindex="-1" role="dialog" aria-labelledby="storeArticleLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <form @submit.prevent="addArticle" class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" v-if="!edit" id="exampleModalLabel">Create article</h5>
                <h5 class="modal-title" v-else id="exampleModalLabel">Edit article</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Title" v-model="article.title">
                </div>
                <div>
                  <select v-model="article.categories" class="custom-select" multiple>
                      <option v-for="category in categories" v-bind:key="category.id" :value="category.id">{{category.title}}</option>
                  </select>
                </div>
                <div class="form-group">
                  <textarea class="form-control" placeholder="Content" v-model="article.content"></textarea>
                </div>
              </div>
              <div class="modal-footer">
                <button @click="clearForm()" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
              </div>
            </form>
          </div>
        </div>
    </main>
</template>
<style scoped>
h1 {
  display: inline-block;
}

.add-article {
  margin-left: 2em;
  margin-bottom: 1rem;
}

span {
  display: inline-block;
  margin-bottom: 1em;
}

.total {
  margin-left: 2em;
  display: inline-block;
  line-height: 35px;
  vertical-align: middle;
}

.pagination {
  margin-bottom: 2em;
}

article {
  border-radius: 4px;
  background: white;
  border: 1px solid #ccc;
  padding: 1.5em 1em;
  margin-bottom: 2em;
  clear: both;
}

.custom-select {
  margin-bottom: 1em;
}
</style>

<script>
import { API } from "../api-common.js";

export default {
  data() {
    return {
      articles: [],
      article: {
        id: "",
        title: "",
        content: "",
        categories: [],
        created_at: ""
      },
      article_id: "",
      ordering: {
        orderBy: "created_at",
        order: "desc"
      },
      categories: [],
      pagination: {
        current_page: 1
      },
      edit: false
    };
  },
  created() {
    this.getArticles();
    this.getCategories();
  },
  methods: {
    async getCategories() {
      try {
        const response = await API.get("/categories");
        // console.log(response.data.data);
        this.categories = response.data.data;
      } catch (error) {
        alert(error);
      }
    },
    getArticles(
      page_url = "/articles?page=" +
        this.pagination.current_page +
        "&orderBy=" +
        this.ordering.orderBy +
        "&order=" +
        this.ordering.order
    ) {
      let self = this;
      console.log(page_url);
      API.get(page_url) // отправляем запрос
        .then(response => response.data) // автоматический парсинг JSON
        .then(response => {
          this.articles = response.data;
          console.log(this.articles);
          self.getPagination(response.meta, response.links);
        })
        .catch(e => {
          console.log(e);
        });
    },
    deleteArticle(id) {
      if (confirm("Delete article?")) {
        API.delete(`/article/${id}`)
          .then(response => {
            alert("Article has been removed");
            this.getArticles();
          })
          .catch(e => {
            alert(e);
          });
      }
    },
    async addArticle() {
      if (this.edit === false) {
        try {
          const response = await API.post(`/article/`, {
            title: this.article.title,
            content: this.article.content,
            categories: this.article.categories
          });
          this.clearForm();
          this.getArticles();
          alert("Article has been added");
        } catch (error) {
          alert(error);
        }
      }
    },
    clearForm() {
      this.edit = false;
      this.article.id = null;
      this.article.article_id = null;
      this.article.title = "";
      this.article.body = "";
    },
    getPagination(meta, links) {
      // console.log(meta);
      // console.log(links);
      this.pagination = {
        current_page: meta.current_page,
        last_page: meta.last_page,
        next_page_url: links.next,
        prev_page_url: links.prev,
        total: meta.total
      };
    },
    setOrdering() {
      this.ordering = {
        orderBy: "title",
        order: "asc"
      };
      this.getArticles();
    }
  }
};
</script>